.root {
    color: white;
    height: auto;
    overflow: hidden;
    margin-top: 5%;
    --inactive-color: white;
    --active-text: #ff7eee;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --title-font: 20px;
    --subtitle-font: 18px;
    --body-font: 16px;
    --button-font: 18px;
    border-radius: 5px;
}

.container {
    background-color: var(--bg-primary);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 5px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
}

.list-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%) opacity(0.7);
    transition: 500ms;
    min-width: 150px;
    fill: var(--inactive-color);
    min-height: 60px;
    border-right-color: var(--inactive-color);
    border-right-width: 3px;
    border-right-style: solid;
}

.list-button:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--active-text);
    fill: var(--active-text);
    border-right-color: var(--active-text);
    cursor: pointer;
}

.active {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--active-text);
    fill: var(--active-text);
    border-right-color: var(--active-text);
}

.list-button-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%) opacity(0.7);
    transition: 500ms;
    min-width: 150px;
    fill: var(--inactive-color);
    min-height: 60px;
    border-bottom-color: var(--inactive-color);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.list-button-top:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--active-text);
    fill: var(--active-text);
    border-bottom-color: var(--active-text);
    cursor: pointer;
}

.active-top {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--active-text);
    fill: var(--active-text);
    border-bottom-color: var(--active-text);
}

.list-link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--button-font);
    margin-left: 20px;
}

.list-text {
    text-align: left;
    font-size: var(--body-font);
    margin: 0;
    padding: 10px;
}

.list-subtitle {
    text-align: left;
    font-size: var(--subtitle-font);
    margin: 0;
    padding: 0 10px 0;
}

.list-title {
    text-align: left;
    margin: 0;
    padding: 10px 10px 0;
    font-size: var(--title-font);
}

.list-icon-left {
    position: absolute;
    left: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--button-font);
    width: var(--button-font);
}

.text-container {
    height: inherit;
    overflow: hidden;
}

.full-text {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

.break {
    height: 2px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--active-text);
}
